/ejercicios.js
/.gitignore<a href="https://github.com/tomasredona/JavaScript/invitations" style="display:inline-block;color:#fff;font-size:14px;font-weight:600;background-color:#4183c4;text-decoration:none;width:auto!important;text-align:center;border-radius:5px;letter-spacing:normal;font-family:'Helvetica Neue',Helvetica,Arial,sans-serif;margin:0 auto;padding:6px 12px" target="_blank" data-saferedirecturl="https://www.google.com/url?q=https://github.com/tomasredona/JavaScript/invitations&source=gmail&ust=1718753625442000&usg=AOvVaw2e_C9UHjZIW0aTY_BgLWP9" jslog="32272; 1:WyIjdGhyZWFkLWY6MTgwMjE1MzE3ODQ1MTMxNDU0NiJd; 4:WyIjbXNnLWY6MTgwMjE1MzE3ODQ1MTMxNDU0NiJd">View invitation</a>